body{
  margin: 0;
  background-color: darkgray;
}

.main{
  display: flex;
  flex-direction: row;

}


h1 {
  text-align: center;
  color: black;
  width: 100vw;
  height: 10vh;
  font-size: 55px;
}

.selectDiv{
  width: 45vw;
}
.new > input{
  margin: 15px 0px 15px 0px;
  font-size: 18px;
}
.new{
  font-size: 18px;
  font-weight: bold;
}

.addBtn{
margin-left: 140px;
padding: 15px 25px 15px 25px;
border: 2px solid black;
border-radius: 8px;}
.addBtn:hover{
  background-color: darkgray;
margin-left: 140px;
padding: 15px 25px 15px 25px;
border: 2px solid black;
border-radius: 8px;}

.meetBox{
  border: 5px solid black;
  border-radius: 8px;
  padding: 15px 10px 15px 10px;
  margin: 15px 10px 15px 10px;
}

.selectBtn{
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 25px;
  padding: 10px 10px;
}

.addDiv{
  margin-left: 15px;
}